<!--
<div *ngFor="let todo of todoItems()">
<p>{{todo.title}}</p>
</div>
-->
<!--
@for (
  todo of todoItems();track todo.id
  ){
  <p>{{todo.title}}</p>
}
-->
<h3>Todos List</h3>
<ul class="todos">
  @for (todo of todoItems(); track todo.id) {
    <!--    <li>
          <h4>{{ todo.title }}</h4>
        </li>-->
    <li class="todos__item">
      <input id="todo-{{todo.id}}" type="checkbox" [value]="todo.completed"/>
      <label for="todo-{{todo.id}}">{{ todo.title }}</label>
    </li>
  }
</ul>
